.owners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.owner {    
    margin: 30px 0px;
    width: 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.owner4 {    
    margin: 30px 0px;
    width: 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.owner3 {    
    margin: 30px 0px;
    width: 33%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.owner2 {    
    margin: 30px 0px;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.owner1 {    
    margin: 30px 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.owners img {
    box-sizing: border-box;
    height: 280px;
    width: 280px;
}

.info {
    background-color: #d3d3d3;
    box-sizing: border-box;
    padding: 10px;
    height: 380px;
    width: 280px;
}

.info p {
    margin: 8px 0;
}